bin/
obj/
artifacts/
out/
*.user
.vs/
.vscode/
# https://docs.nuget.org/consume/restoring-net-core-projects-with-net-cli
config.json
prom.yml
*.log
.DS_Store
Thumbs.db
*.tmp
*.swp
tests/e2e/db/

tests/e2e/java-sqlite-image/*.jar
