apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "prometheus-exporter-jdbc.fullname" . }}
  labels:
    {{- include "prometheus-exporter-jdbc.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "prometheus-exporter-jdbc.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "prometheus-exporter-jdbc.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "prometheus-exporter-jdbc.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- if .Values.env.hostname }}
            - name: HOSTNAME
              value: {{ .Values.env.hostname | quote }}
            {{- end }}
            {{- if .Values.env.username }}
            - name: USERNAME
              value: {{ .Values.env.username | quote }}
            {{- end }}
            {{- if or .Values.secret.name .Values.secret.create }}
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "prometheus-exporter-jdbc.secretName" . }}
                  key: {{ .Values.secret.key }}
            {{- end }}
          ports:
            - name: http
              containerPort: 9853
              protocol: TCP
          volumeMounts:
            - name: config-volume
              mountPath: /app/config.json
              subPath: config.json
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ include "prometheus-exporter-jdbc.fullname" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
